.mobile-header {
    background-color: #023047 !important;
}
body {
    background-color: #fff !important;
    font-family: "Poppins" !important;
}
.c-header-brand {
    min-height: 20px !important;
}
.c-header-nav-icon {
    color: white !important;
}
.bg-accent {
    background-color: #fb8500 !important;
}
.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.label-small {
    font-size: 10px !important;
}
.btn-primary {
    background-color: #023047 !important;
    width: 100%;
    font-size: 16px;
}
.btn-accent {
    background-color: #fb8500 !important;
    width: 100%;
    color: white;
    font-size: 16px;
}
.btn-accent-outline {
    border: 2px solid #fb8500 !important;
    width: 100%;

    font-size: 16px;
}
