.children {
    background-color: #d7e37d;
}
.lactating {
    background-color: #ffb703;
}
.pwd {
    background-color: #fb8500;
}
.pregnant {
    background-color: #219ebc;
}
.senior {
    background-color: #5464af;
}
.solo_parent {
    background-color: #023047;
}
.none {
    background-color: #ffffff;
}